stedr-server/logs
stedr-server/project/project
stedr-server/project/target
stedr-server/target
stedr-server/.target
stedr-server/tmp
stedr-server/.history
stedr-server/dist
stedr-server/.idea
stedr-server/*.iml
stedr-server/out
stedr-server/.idea_modules
stedr-server/.classpath
stedr-server/.project
stedr-server/RUNNING_PID
stedr-server/.settings
